.LogoPrincipal{

    width: auto;
    height: 150px;
    margin-left: 30px;
    
}

.body{

    background-color: rgb(204, 192, 192);
}

.Menu{

    display: flex;
    justify-content: center;
    margin-left: 250px;
    
    
}

.boxMenu{
    position: absolute;
    z-index: 99999999;
    background-color: white;

}

.menuSuperior{
    display: grid ;
    grid-template-columns: repeat(2,250px) ;
    grid-column-gap:200px ;
    display: flex;
    justify-content: center;
    

}

.menuInferior{

    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: #d5e9b2;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    border: 1px solid #d5e9b2;    
    border-radius: 10px;
    padding-right: 50px;
}


.redesocias{
    margin-top: 100px;
    width: 45px;
    height: 45px;
    color:   #99ca42;
    padding-right: 10px;
}

a > span{

    color: black;
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
}

span:hover{
    text-decoration: none;
    color: red;
    transition: 0.6s;
    
}


a > svg > .face:hover{

    color: blue;
    transition: 0.6s;
}

a > svg > .youtube:hover{

    color: red;
    transition: 0.6s;
}
        
a > svg > .insta:hover{

    color: rgb(244, 160, 174);
    transition: 0.6s;
}   

p {
    text-align: center;
}

.boxvideo{

    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0 ;
    margin-bottom: 30px;
   
}

.boxPrincipal{

    padding-top: 240px;
   
}

.textnoticias{

    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    font-weight: 500;
    color: #99ca42;
}

.containerVerde{
    margin: 25px auto 40px auto;
    max-width: 700px;
    width: 100%;
    background-color: #99ca42;
    color: white; 
    border-radius: 25px;

    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 30px 10px 30px;
}
.fixed {
    height: auto;
    max-width: 500px;
    z-index: 999999;
    position: fixed;
    display: block;
    top: 50%;
    right: -0px;
   }

.carousel-inner img {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}

.carousel-caption{
    display: block;
    margin:7px;
    left: 25%!important;
    right: 25%!important;
}
.espacoFooter {
            padding-bottom: 10px;
        }

        .espacoFooterIcones {
            padding-bottom: 25px;
        }

        .textoPrincipalFooter {
            font-weight: bold;
            font-size: 30px;
        }

        .textoFooter {
            font-size: 15px;
        }

        .textoChamadaBranco {
            font-weight: bold;
            font-size: 25px;
            color: white;
            text-align: center;
        }

        .figuraPrograma {
            padding: 5px;
            padding-bottom: 20px;
            max-width: 250px;
            border-radius: 25px 25px 40px 40px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .containerConteudos{
            width: 100%;
            height: 100%;
            max-width: 700px;
            margin-right: auto;
            margin-left: auto;    
            display: block;
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        .containerfooter{
            width: 100%;
            height: 100%;
            max-width: 700px;
            margin-right: auto;
            margin-left: auto;    
            display: block;
            
        }
