.body {

    background-color: rgb(204, 192, 192);
}

.menuInferior {
    width: 100%;
    height: 50px;
    background-color: #022859;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-right: 50px;
}

a>span {

    color: white;
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
}

span:hover {
    text-decoration: none;
    color: green;
    transition: 0.6s;

}


a>svg>.face:hover {

    color: blue;
    transition: 0.6s;
}

a>svg>.youtube:hover {

    color: red;
    transition: 0.6s;
}

a>svg>.insta:hover {

    color: rgb(244, 160, 174);
    transition: 0.6s;
}


h2 {
    color: #022859;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
    text-decoration: underline;
    

}


.boxvideo {

    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    margin-bottom: 30px;

}

.boxPrincipal {

    padding-top: 50px;

}

.fixed {
    height: auto;
    max-width: 500px;
    z-index: 999999;
    position: fixed;
    display: block;
    top: 50%;
    right: -0px;
}
.textmenu{
    display: flex;
    justify-content: space-evenly;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
    position: relative;
    align-self: center;
    max-height: 640px;
    display: block;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
}

.carousel-caption {
    display: block;
    margin: 7px;
    left: 25% !important;
    right: 25% !important;
}


.espacoFooter {
    padding-bottom: 10px;
}

.espacoFooterIcones {
    padding-bottom: 25px;
}

.textoPrincipalFooter {
    font-weight: bold;
    font-size: 30px;
}

.textoFooter {
    font-size: 15px;
    justify-content: left;
}

.textoChamadaBranco {
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-align: center;
}

.ultimosVideos {
    height: 220px;
    width: 100%;
    max-width: 360px;

}

.imgProjetos {
    height: 160px;
    width: 160px;
    margin: 5px auto 5px auto;
}

.colDireita {
    border-left: 1px solid #CEDFEE;
}
.figuraPrograma{
    padding-bottom: 0px;
    width: 250px;
    max-width: 300px;
    border: 3px solid #022859;
    border-radius: 25px 25px 40px 40px;
    height: 80%;
}

.container{
    max-width: 1450px!important;
    margin-left: 150px;
    margin-right: 200px;
}

.tituloInicial{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    padding-top: 15px;
    
   
}


.containerConteudos {
    max-height: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}
.imgsC{

    display: flex;
    justify-content: space-evenly;
    flex-grow: <2>;
   
}
.containerAzul{
    position: relative;
    align-items: center;
    display:  inline-block;
    width: 100%;
    max-height: 500px;
    background-color:  #022859;
    color: white; 
    border-radius: 25px;
}

.containerfooter {
    width: 100%;
    height: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color:#022859;
    margin-top: 50px;
}

.containerInicial{
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    display: block;
    color:#022859;
    background-color: #CEDFEE;
}


.menuColapse {
    border-top: 30px;
    background-color: #CEDFEE;
    font-size: medium;
}


.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #022859;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #022859;
}

.carousel-inner iframe {
    width: 80%;
    height: 550px;
    max-height: 450px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 10px;
    
}

.carousel-caption{
    display: block;
    margin:7px;
    left: 25%!important;
    right: 25%!important;
}